codecov
colour
configparser~=5.0.1
coverage~=6.3.2
coveralls~=3.3.1
dash~=2.3.1
dash-cytoscape~=0.3.0
docopt~=0.6.2
future==0.18.2
ipython==7.18.1
lxml>=4.8.0
matplotlib~=3.5.2
networkx~=2.5
numpy~=1.21.0
pandas>=1.4.2
pint-pandas>=0.2
pint~=0.19.2
pydot~=1.4.1
pytest-cov
pytest~=7.1.1
python-dateutil~=2.8.2
pyxsteam==0.4.8
scipy~=1.8.0
semver>=2.13.0
setuptools~=61.2.0
sphinx>=4.3.0
sphinx-argparse>=0.2.5
sphinx_rtd_theme>=0.5.1
thermosteam==0.28.5
tomli~=1.2.2
werkzeug==2.0.3
