codecov
colour
coverage
coveralls
dash==2.5.1
dash-cytoscape==0.3.0
docopt
ipython==8.3.0
lxml==4.8.0
matplotlib==3.5.2
networkx==2.7.1
numpy==1.22.4
pandas==1.4.2
pint-pandas==0.2
pint==0.19.2
pydot==1.4.1
pytest-cov
pytest==7.1.2
python-dateutil
pyxsteam==0.4.8
ray==1.13.0
scipy==1.8.1
semver>=2.13.0
setuptools==61.2.0
sphinx==4.4.0
sphinx-argparse==0.3.1
sphinx_rtd_theme==1.0.0
thermo==0.2.10
thermosteam==0.28.12
tomli==1.2.2
werkzeug==2.0.3
